*{
	color: #000;
	font-size: 12px;
	font-family: Verdana;
}

.hide{ display: none; }

body{
	text-align: center;
}

.wrapper{
	margin: auto;
	width: 500px;
	background: #AAA;
	position: relative;
}

.home_content{
	width: 100%;
	float: left;
	background: #AAA;
}

#regional #br_options, #regional #usa_options{
	background: #777;
	width: 200px;
	float: left;
	margin: 20px 0 20px 33px;
}

#regional .regional_options img{
	padding: 25px 25px 10px 25px;
	cursor: pointer;
}

#regional .regional_options span{
	float: left;
	width: 150px;
	margin-left: 25px;
	margin-bottom: 10px;
	font-weight: bold;
	cursor: pointer;
	text-align: left;
} 

#regional .regional_options span:hover{
	background: #AAA;
} 

#contact_info{
	text-align: right;
	padding-right: 20px;
	margin: 20px 0;
}

#contact_form{
	background: #CCC;
	width: 400px;
	margin-left: 50px;
	text-align: left;
}

#contact_form .item, #contact_form .item_msg{
	width: 400px;
	float: left;
	padding: 5px 10px;
}
#contact_form label{
	width: 100px;
	float: left;
	text-align: left;
}


#contact_form .item_msg label{
	width: 400px;
	
}
#contact_form .item input{
	width: 280px;
}

#contact_form .item_msg .mensagem{
	width: 380px;
	height: 200px;
}

#contact_form .item input, #contact_form .item_msg .mensagem{
	background: #FFF;
	border: 1px solid black;
	color: #220E53;
}


#contact_form #contact_button{
	text-align: right;
	padding: 10px 10px;
}

h1{
	width: 80%;
	margin: 0 auto;
	font-size: 18px;'
	font-weight: bold;
	text-align: center;
	background: #FFF;
}

h2{
	width: 100%;
	padding: 10px 10px 10px 10px;
}




